
# pixi environments
.pixi
*.egg-info
# magic environments
.magic
key-deriv.md
.env
red_team_upof_evaluation/analysis/anthropic_access_blocking.md
red_team_upof_evaluation/analysis/monopoly_implications.md
